@import url("./color.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--travel-sky);
}

#root {
  min-height: 100vh;
}
